* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    
  }
  
  body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    padding-bottom: 2rem;
  }
  
  a:link, a:visited {
    text-decoration: none;
  }
  
  a:hover, a:active {
    // color: $colour-1;
  }
  
  button {
    background-color: transparent;
    border: none;
  }
  
  span {
    display: inline !important;
  }
